version: "3.8"

services:
  postgres:
    image: bitnami/postgresql:latest
    container_name: librashub_postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRESQL_USERNAME=docker
      - POSTGRESQL_PASSWORD=docker
      - POSTGRESQL_DATABASE=librashub
